{% extends 'userbasetemplate.html' %}
{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{%url 'homepage'%}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="{% url 'shop'%}" method="GET">
                            <input type="text" name="q" placeholder="Search..." value="{{search_query}}">
                            <button type="submit"><span class="bi bi-search"></span></button>
                        </form>
                    </div>
                    <form action="{% url 'shop'%}" method="GET" id="filter-form">
                        <div class="accordion" id="accordionExample">
                            <!-- Categories Filter -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Categories
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            {% for category in categories %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="categories"
                                                    value="{{ category.id }}" id="category-{{ category.id }}" {% if category.id in selected_categories %}checked{% endif %}>
                                                <label class="form-check-label" for="category-{{ category.id }}">
                                                    {{ category.category_name }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pricing Filter -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Pricing
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="price"
                                                value="low-to-high" id="price-low-to-high" {% if selected_price_order == 'low-to-high' %}checked{% endif %}>
                                            <label class="form-check-label" for="price-low-to-high">
                                                Low to High
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="price"
                                                value="high-to-low" id="price-high-to-low" {% if selected_price_order == 'high-to-low' %}checked{% endif %}>
                                            <label class="form-check-label" for="price-high-to-low">
                                                High to Low
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Size Filter -->
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Size
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour">
                                    <div class="accordion-body">
                                        <div class="form-check">
                                            {% for size in sizes %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="sizes"
                                                    value="{{ size.id }}" id="size-{{ size.id }}" {%if size.id in selected_sizes %} checked {%endif%} >
                                                <label class="form-check-label" for="size-{{ size.id }}" >
                                                    {{ size.size_code }}
                                                </label>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 w-100">Filter</button>         
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    {% for prod in products %}
                    <div class="col-lg-4 col-md-6 col-sm-6 productData">
                        {%csrf_token%}
                        <div class="product__item">
                            <a href="{%url 'productdetail' prod.product.id%}">
                                <div class="product__item__pic set-bg"
                                    data-setbg="{{ prod.product.primary_image.url }}">
                                    {% if prod.out_of_stock %}
                                    <span class="label text-danger">Out of Stock</span>
                                    {%endif%}
                                </div>
                            </a>
                            <div class="product__item__text">
                                <input type="hidden" value="{{prod.product.id}}" class="productid">

                                <h6>{{ prod.product.product_name }}</h6>
                                <button type="button" class="add-cart btn btn-danger btn-sm addtowishlistbtn">Add To
                                    wishlist <i class="bi bi-heart-fill"></i></button>
                                <div class="rating">
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star"></i>
                                </div>
                                <h5>₹{{ prod.product.get_discounted_price }}</h5><span>
                                    <p>{% if prod.product.discount %}({{prod.product.discount}}%off){%endif%}</p>
                                </span>
                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop Section End -->

<!-- Include necessary JS libraries -->

{% endblock %}