{% load static%}
{% load socialaccount%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/authenticationstyles.css' %}">

    <title>Sign-up</title>
</head>

<body>
    <div>
        <h1 class="appname">Eleganza vogue</h1><br>
    </div>
    <div class="signup">
        <form action="{% url 'usersignup'%}" method="POST" class="signup__form">
            {% csrf_token %}
            <h1 class="login__title">Register</h1>
            <div class="login__inputs">
                <div class="login__row">
                    <div class="login__box">
                        <input type="text" placeholder="First Name" name="firstname" class="login__input">
                        <i class="ri-user-fill"></i>
                    </div>
                    <div class="login__box">
                        <input type="text" placeholder="Last Name" name="lastname" class="login__input">
                        <i class="ri-user-fill"></i>
                    </div>
                </div>
                <div class="login__row">
                    <div class="login__box">
                        <input type="text" placeholder="Username" name="username" class="login__input">
                        <i class="ri-user-fill"></i>
                        <span class="error-message">{{errors.username}}</span>
                    </div>
                    <div class="login__box">
                        <input type="tel" placeholder="Phone Number" name="phone" class="login__input" pattern="\d{10}"
                            title="Phone number must be 10 digits">
                        <i class="ri-phone-fill"></i>
                        <span class="error-message">{{ errors.phone }}</span>
                    </div>
                </div>

                <div class="login__box">
                    <input type="email" placeholder="Email ID" name="email" class="login__input">
                    <i class="ri-mail-fill"></i>
                    <span class="error-message">{{errors.email}}</span>
                </div>
                <div class="login__row">
                    <div class="login__box">
                        <input type="password" placeholder="Password" name="password" class="login__input">
                        <i class="ri-lock-2-fill"></i>
                    </div>
                    <div class="login__box">
                        <input type="password" placeholder="Confirm Password" name="confirmpassword"
                            class="login__input">
                        <i class="ri-lock-2-fill"></i>
                        <span class="error-message">{{errors.password}}</span>
                    </div>
                </div>
                <div class="login__box">
                    <input type="text" placeholder="Referral Code" name="referral_code"
                        class="login__input">
                    <span class="error-message">{{errors.referral_code}}</span>
                </div>
            </div>
            <div class="login__check">
                <div class="login__check-box">
                    <input type="checkbox" class="login__check-input" id="user-check">
                    <label for="user-check" class="login__check-label">Remember me</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary rounded-pill login__button">Register</button>

            <div class="login__or">
                <span>or</span>
            </div>

            <a href="{% provider_login_url 'google' %}" class="btn btn-dark login__button login__button--google">
                <i class="ri-google-fill"></i> Sign-in with Google
            </a>

            <div class="login__register">
                Already Have an account? <a href="{%url 'userlogin'%}">Login</a>
            </div>
        </form>
    </div>
</body>

</html>