{% extends "adminbase.html" %}
{%block content%}
<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Category</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="{% url 'addcategory'%}" class="btn btn-primary float-right btn-rounded"><i
                        class="fa fa-plus"></i>Add Category</a>
            </div>
        </div>
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <label class="focus-label">Category Name</label>
                    <input type="text" class="form-control floating">
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table">
                        <thead>
                            <tr>
                                <th style="min-width:50px;">Category Name</th>
                                <th>Category Image</th>
                                <th>Quantity</th>
                                <th style="min-width: 110px;">Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for categories in category %}
                            <tr>
                                <td>
                                    <h2>{{categories.category_name}}</h2>
                                </td>
                                <td>
                                    {% if categories.category_image %}
                                    <img class="categories-image" src="{{categories.category_image.url}}">
                                    {%else%}
                                    <span>Image not available</span>
                                    {%endif%}
                                </td>
                                <td>200</td>
                                <td>
                                    {% if categories.is_active%}
                                    <span class="custom-badge status-green">Active</span>
                                    {%else%}
                                    <span class="custom-badge status-red">In-Active</span>
                                    {%endif%}

                                </td>
                                <td>
                                    <a href="{% url 'editcategory' categories.id %}" class="btn btn-warning">Edit</a>
                                    <a href="#delete_category-{{forloop.counter}}" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#delete_category-{{forloop.counter}}">Block</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% for categories in category %}
<div  class="modal fade delete-modal" id="delete_category-{{forloop.counter}}" role="dialog" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Are you sure want to Block this Category?{{categories.name}}</h3>
                <div class="m-t-20"> <a href="#" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                    <a href="{% url 'blockcategory' categories.id %}" class="btn btn-danger">BLOCK</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}
{%endblock%}